<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estoque</title>
</head>
<body>
    <header class="top">
        <h1>Estoque de Produtos</h1>
    </header>

    <nav class="menu">
        <ul>
            <a href="/produtos/listar">Listar</a>
            <a href="/produtos/cadastrar">Cadastrar</a>
            <li><a href="/">Voltar para Home</a></li>
        </ul>
    </nav>

    {% block content %}
        <h3>Home do Estoque de Produtos com Django Python</h3>
        <img src="https://images.unsplash.com/photo-1616401784845-180882ba9ba8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" width='500' height='300'>
    {% endblock content %}

    <footer>Rodapé de exemplo</footer>

</body>
</html>