<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estoque</title>
</head>
<body>
    <header class="top">
        <h1>Estoque de Produtos</h1>
    </header>

    <nav class="menu">
        <ul>
            <a href="produtos/cadastrar">Cadastrar</a>
            <a href="produtos/deletar">Remover</a>
            <a href="produtos/listar">Listar</a>
            <a href="produtos/visualizar">Visualizar</a>
            <a href="produtos/atualizar">Atualizar</a>
            <li><a href="/">Voltar para Home</a></li>
        </ul>
    </nav>

    {% block content %}
        <h3>Estou na página Home</h3>
    {% endblock content %}

    <footer>Rodapé de exemplo</footer>

</body>
</html>