<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estoque</title>
</head>
<body>
    <header class="top">
        <h1>Estoque de Produtos</h1>
    </header>

    <nav class="menu">
        <ul>
            <a href="produtos/add">Cadastrar</a>
            <a href="produtos/rem">Remover</a>
            <a href="produtos/list">Listar</a>
            <a href="produtos/view">Visualizar</a>
            <a href="produtos/update">Atualizar</a>
        </ul>
    </nav>

    {% block content %}
    
    {% endblock content %}

</body>
</html>