{% extends 'produtos/base.html' %}

{% block content %}
<h5>Clique nos produtos para visualizar</h5>
<div>
    <ul class='task-list'>
        {%if messages%}
            <ul class='messages'>
                {%for message in messages%}
                    <li {%if message.tags%}class='alert alert'{%endif%}>{{message}}</li>
                {% endfor %}
            </ul>

        {% endif %}

        {%for produto in produtos%}
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="/produtos/{{produto.id}}">{{produto.nome}}</a>
                <span class="badge bg-primary rounded-pill">{{produto.quantidade}}</span>
            </li>

            <li>
                <a href='/produtos/atualizar/{{produto.id}}' class="list-group-item list-group-item-action"><span><i class="fas fa-edit">Editar</i></span></a>
                <a href='/produtos/deletar/{{produto.id}}' class="list-group-item list-group-item-action"><span><i class="fas fa-trash">Deletar</i></span></a>
            </li>
        </ul>
        {%endfor%}
    </ul>
</div>


{% endblock content %}